@tailwind base;
@tailwind components;
@tailwind utilities;

/*? extending tailwind styles for html elements */
@layer base {
}
/*? creating custom classes that include o set of tailwind clases */
@layer components {
}

/*? use tailwind theme function to set a value from the configuration file */
.content-area {
}

/*? use tailwind breakpints to set a value for media queries */
@media screen(xl) {
}

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}
